input {
    keyboard {
        numlock
    }

    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="0%"
}

cursor {
    // Hide the cursor after one second of inactivity.
    hide-after-inactive-ms 1000
}

output "DP-1" {
    mode "1920x1080@60.000"
}

layout {
    gaps 0

    empty-workspace-above-first

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        off
    }

    border {
        width 2
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }
}

gestures {
    hot-corners {
        off
    }
}

prefer-no-csd

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

binds {
    Mod+Shift+Semicolon { show-hotkey-overlay; }

    Mod+R hotkey-overlay-title="Open a Terminal: footclient" { spawn "footclient"; }
    Mod+E hotkey-overlay-title="Open File Explorer: nautilus" { spawn "nautilus"; }
    Mod+Shift+S hotkey-overlay-title="Open New Firefox Window" { spawn "firefox" "--new-window"; }

    // Focus Shortcuts
    Mod+S hotkey-overlay-title="Focus or Open Firefox" { spawn-sh "~/.config/niri/scripts/focus-or-launch.sh app_id '^firefox' -- firefox"; }
    Mod+G hotkey-overlay-title="Focus or Open Cursor" { spawn-sh "~/.config/niri/scripts/focus-or-launch.sh title 'inmediam.*Workspace' -- cursor /inmediam/inmediam.code-workspace"; }
    Mod+D hotkey-overlay-title="Focus or Open DBeaver" { spawn-sh "~/.config/niri/scripts/focus-or-launch.sh app_id '^DBeaver$' -- dbeaver"; }
    Mod+A hotkey-overlay-title="Focus or Open lazygit" { spawn-sh "~/.config/niri/scripts/focus-or-launch.sh app_id '^lazygit$' -- footclient --app-id=lazygit lazygit"; }
    // Mod+V hotkey-overlay-title="Focus or Open Discord" { spawn-sh "~/.config/niri/scripts/focus-or-launch.sh app_id '^discord$' -- discord"; }
    // Mod+V hotkey-overlay-title="Focus or Open concord" { spawn-sh "~/.config/niri/scripts/focus-or-launch.sh app_id '^concord$' -- footclient --app-id=concord concord"; }
    Mod+V hotkey-overlay-title="Focus or Open concord" { spawn-sh "~/.config/niri/scripts/focus-or-launch.sh app_id '^concord$' -- kitty --app-id=concord concord"; }

    // Noctalia Shortcuts
    Mod+C hotkey-overlay-title="Clipboard History" { spawn-sh "noctalia msg panel-toggle clipboard"; }
    Mod+N hotkey-overlay-title="Activate Last Notification" { spawn-sh "noctalia msg notification-invoke-latest"; }
    Mod+Pause hotkey-overlay-title="Clear Active Notifications" { spawn-sh "noctalia msg notification-clear-active"; }
    Mod+Shift+N hotkey-overlay-title="Notifications Panel" { spawn-sh "noctalia msg panel-toggle control-center notifications"; }
    Mod+Shift+E hotkey-overlay-title="Noctalia Settings" { spawn-sh "noctalia msg settings-open"; }
    Mod+Shift+B hotkey-overlay-title="Toggle Noctalia Bar" { spawn-sh "noctalia msg bar-toggle"; }
    Mod+Alt+L hotkey-overlay-title="Lock the Screen with Noctalia Greeter" { spawn-sh "noctalia msg session lock"; }
    Mod+X hotkey-overlay-title="Session Menu" { spawn-sh "noctalia msg panel-toggle session"; }

    Mod+Return hotkey-overlay-title="Noctalia Launcher" { spawn-sh "noctalia msg panel-toggle launcher"; }

    // Media
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "noctalia msg volume-up 1"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "noctalia msg volume-down 1"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "noctalia msg volume-mute"; }

    XF86AudioPlay        allow-when-locked=true { spawn-sh "noctalia msg media toggle"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "noctalia msg media stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "noctalia msg media previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "noctalia msg media next"; }

    Print { spawn-sh "noctalia msg screenshot-region"; }
    Shift+Print { spawn-sh "noctalia msg screenshot-fullscreen"; }

    // Mouse movement with wl-kbptr
    Pause { spawn-sh "wl-kbptr -o modes=floating,click -o mode_floating.source=detect"; }
    Shift+Pause { spawn "wl-kbptr"; }

    Mod+B repeat=false { toggle-overview; }
    Mod+Escape repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }

    Mod+H     { focus-column-left; }
    Mod+L     { focus-column-right; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }

    Mod+Shift+H     { move-column-left; }
    Mod+Shift+L     { move-column-right; }
    Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    Mod+Shift+K     { move-window-up-or-to-workspace-up; }

    // Mod+Home { focus-column-first; }
    // Mod+End  { focus-column-last; }
    // Mod+Shift+Home { move-column-to-first; }
    // Mod+Shift+End  { move-column-to-last; }

    Mod+Left  { focus-monitor-left; }
    Mod+Down  { focus-monitor-down; }
    Mod+Up    { focus-monitor-up; }
    Mod+Right { focus-monitor-right; }
    Mod+U     { focus-monitor-left; }
    Mod+I     { focus-monitor-right; }

    Mod+Shift+Left  { move-column-to-monitor-left; }
    Mod+Shift+Down  { move-column-to-monitor-down; }
    Mod+Shift+Up    { move-column-to-monitor-up; }
    Mod+Shift+Right { move-column-to-monitor-right; }
    Mod+Shift+U     { move-column-to-monitor-left; }
    Mod+Shift+I     { move-column-to-monitor-right; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }

    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
    Mod+Comma  { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    Mod+Period { expel-window-from-column; }

    // Cycle through widths set in preset-column-widths.
    Mod+T { switch-preset-column-width; }
    // Cycling through the presets in reverse order is also possible.
    Mod+Shift+T { switch-preset-column-width-back; }

    Mod+Ctrl+Shift+T { switch-preset-window-height; }
    Mod+Ctrl+T { reset-window-height; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+Shift+C { center-column; }
    Mod+Shift+D { expand-column-to-available-width; }

    // Center all fully visible columns on screen.
    Mod+Ctrl+Shift+C { center-visible-columns; }

    // Finer adjustments.
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+Z       { toggle-window-floating; }
    Mod+Shift+Z { switch-focus-between-floating-and-tiling; }

    // Toggle tabbed column display mode.
    // Windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    Mod+Shift+W { toggle-column-tabbed-display; }

    Mod+Shift+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    //Mod+Shift+E { quit; }
    Ctrl+Alt+Q { quit; }
    Ctrl+Alt+Delete { quit; }

    Mod+Shift+P { power-off-monitors; }
}

// Startup
spawn-at-startup "noctalia"
spawn-sh-at-startup "foot --server"
// spawn-sh-at-startup "/usr/lib/hyprpolkitagent/hyprpolkitagent"
// spawn-sh-at-startup "/usr/lib/xdg-desktop-portal"

hotkey-overlay {
    skip-at-startup
}

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}

include "noctalia-overview.kdl"
include "noctalia.kdl"
include "fixed-color.kdl"
